/* Général CSS */

#badge {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
}

.badgeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin-bottom: 250px;
}

/* "independant" CSS */

#independantBadge {
    border-radius: 15px;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
    background-color: #0010A0;
    height: 350px;
}

#independantBadge h2 {
    color: red;
    text-transform: uppercase;
    text-align: center;
}

#independantBadge p {
    color: white;
    text-align: center;
}

/* "union" CSS */


#unionBadge {
    border-radius: 15px;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
    background-color: #0010A0;
    height: 350px;
}

#unionBadge h2 {
    color: red;
    text-transform: uppercase;
    text-align: center;
}

#unionBadge p {
    color: white;
    text-align: center;
}

/* "mouvement" CSS */

#mouvementBadge {
    border-radius: 15px;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
    background-color: #0010A0;
    height: 350px;
}

#mouvementBadge h2 {
    color: red;
    text-transform: uppercase;
    text-align: center;
}

#mouvementBadge p {
    color: white;
    text-align: center;
}

/*  /////////////////////  NEW VERSION ///////////////// */

#badges{
    margin-left: auto;
    margin-right: auto;
    width: 992px;
    display: flex;
    justify-content: center;
}

#badges .badges-container{
    display: flex;
    flex-direction: row;
    gap: 60px;
}

#badges .badge-inde{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    width: 300px;
    background-color: #0010A0;
    box-shadow:-2px 1px 20px -6px rgba(0,0,0,0.45);
}

#badges .I, .U, .M{
    width: 130px;
    height:130px;
    background-color: white;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#badges .I{
    background-image: url(../assets/i.png);
}

#badges .U{
    background-image: url(../assets/u.png);
}

#badges .M{
    background-image: url(../assets/m.png);
}

#badges .letter-container{
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow:-2px 1px 20px -6px rgba(0,0,0,0.45);
    position: relative;
    top: -100px;
}

#badges h3{
    color: red;
}

#badges .text-badge p{
    color: white;
    font-size: 20px;
    font-weight: 500;
}

#badges .text-badge{
    position:relative;
    bottom: 50px;
}