#goals{
    height: 600px;
    justify-content: center;
    display: flex;
}

#goals .goals{
    background-color: #950000;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap:100px;
    padding: 20px 70px;
}

#goals .flags{
    width: 50%;
    height: 100%;
    background-image: url(../assets/image_fond.png);
    background-position: center;
}

#goals h2{
    font-size: 35px;
    font-weight: bold;
}

#goals p{
    font-size: 24px;
    font-weight: bold;
}