#bg-index{
    height: 700px;
    width: 100%;
    display: flex;
}

#bg-index .flags{
width: 70%;
height: 100%;
background-image: url(../assets/image_fond.png);
background-size: cover;
}

#bg-index .join-container{
width: 30%;
height: 100%;
background-color: #0010A0;
display: flex;
justify-content: center;
align-items: center;
}


.generation-border-bottom{
    width: 992px;
    height:4px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 150px;
    width: 85%;
    background: rgb(5,2,183);
    background: linear-gradient(90deg, rgba(5,2,183,1) 0%, rgba(163,1,1,1) 100%);
}