#navbar{
    display: flex;
    align-items: center;
    width: 1330px;
    margin-left: auto;
    margin-right: auto;
}

#navbar .logo{
    width: 100px;
    height: 90px;
    background-image: url(../assets/logo.png);
    background-size: cover;
}

#navbar .join{
    color:white;
    font-size: 24px;
    padding: 8px 70px;
    background: rgb(5,2,183);
    background: linear-gradient(90deg, rgba(5,2,183,1) 0%, rgba(163,1,1,1) 100%);
    border-radius: 15px;
}

#navbar a{
    text-decoration: none;
}