* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

:root {
  /* Couleurs principales */
  --bg: #00109b;
  --IUM: #ff0000;

  /* Couleurs secondaires */
  --bg-objectif: #950000;
  --bg-resaux: #efb9b5;
  --title-reseau: #0904ff;
}

.custom-button {
  background: linear-gradient(to right, #0502b7, #a30101);
  color: white;
  padding: 5px 30px;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.custom-button:hover {
  transform: scale(1.05);
}
